@media screen and (min-width: 768px) {
    header {
        padding: 2rem;
    }
    
    img {
        display: none;
    }
    
    menu {
        display: block;
    }
    
    ul {
        margin-top: 0;
        flex-direction: row;
    }
}