* {
    font-family: 'Space Mono', monospace;
}

body {
    height: 90vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div {
    text-align: center;
}

img {
    width: 25rem; 
    max-width: 100%;
}

#computer, #printer, #tablet, #tv {display: none;}