@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Open Sans', sans-serif;
}

html, body {
    width: 100%;
    height: 100vh;
    background-color: #121212;
}




main {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}




#computer {
    width: 1000px;
    height: 619px;

    background-image: url(../images/frame-macbook.png);
    background-repeat: no-repeat;
}


#computer > #screen {
    width: 742px;
    height:466px;

    position: relative;
    top: 47px;
    left: 129px;
}




#social-media {
    display: flex;
    gap: 32px;
}


#social-media > a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    
    display: flex;
    align-items: center;
    gap: 5px;

    transition-duration: 0.3s;
}

#social-media a:hover {
    color: #FFF;
}


#social-media a img {
    opacity: 0;

    transition-duration: 0.3s;
}
 
#social-media a:hover img{
    opacity: 1;
}