* {
    padding: 0;
    margin: 0;
    
    font-family: 'Lora', serif;
    color: #4E4E4E;
}

body {
    background-color: #F5F2E9;
}

h1 {
    text-align: center;
    font-size: 5rem;
}

main {
    padding: 2rem;
    width: 60%;
    margin: 0 auto;
}

p {
    margin: 1rem 0;
}