@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

body {
    background-color: #0d1117;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    color: #d3d0d0;
}

a {
    text-decoration: none;
    color: #5050fc;
    font-size: 1.1em;
}

img {
    margin: 5px;
}